@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #1F2937;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

img {
  width: 200px;
  height: auto;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 48px;
  padding: 16px;
}

.icon {
  font-size: 48px;
  font-weight: 900;
}

.links {
  font-size: 18px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 260px 60px 200px;
}

.reads {
  display: flex;
  flex-direction: column;
  background-color: #F9FAF8;
  justify-content: space-evenly;
  align-items: center;
  height: 420px;
}

.must-reads {
 font-size: 36px;
 font-weight: 800;
 color: #1F2937;
}

.info {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.info-content {
  max-width: 200px;
}

.text {
  text-align: center;
  color: #1F2937;
}

.su-image {
  width: 250px;
  height: auto;
}

.sign-up {
  display: flex;
  flex-direction: column;
  color: #F9FAF8;
  align-items: start;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.subtitle {
  font-size: 12px;
  margin: 4px 0 8px 0;
}

.button {
  margin: 4px 0 0 0;
  padding: 8px 24px;
  border-radius: 8px;
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #F9FAF8;
}

.quote {
 display: flex;
 flex-direction: column;
 background-color: #E5E7EB;
 height: 420px;
 justify-content: center;
}

.quote-text {
  color: #1F2937;
  text-align: center;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  margin: 0 80px;
}

.quote-author {
  color: #1F2937;
  margin: 20px 100px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: right;
}
